.verde1{
    background-color: green;
}

.verde2{
    background-color: greenyellow;
}

.preto{
    background-color: black;
    color: white;
}

.cinza1{
    background-color: gray;
}

.cinza2{
    background-color: rgb(201, 191, 191);
}

table,td{
    border: 1px solid black;
}
