.red{
    background-color: lightcoral;
}

.green{
    background-color: lightgreen;
}

.animal{
    background-color: gray;
    color: white;
    background-size: 30px;
    background-image: url("guaxinim.png");
}



body{
    background-color: lightblue;
    background-repeat: no-repeat;
    background-position: 95% 350%;
    background-size: 150px;
    background-image: url("guaxinim.png");
}